/*Ruby Ciappa 1/13/26 WEB210*/

header{
    padding: 5px;

    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    border: 1px black;
    border-top-style: solid;
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: none;
    border-right-width: 17px;
    font-size: 17px;
}

body{
    background-image: url("WidgetCoLogo.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-attachment: fixed;
}

h1{
   padding-right: 40%;
   font-size: 40px;
   margin-left: 5px;
}

aside{
    float: right;
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    padding-right: 5px;
    font-size: 17px;
    background-color: white;
    border: 17px #66d3d9;
    border-top-style: none;
    border-bottom-style: none;
    border-right-style: solid;
    border-left-style: none;
}
   

aside::first-line{
    font-weight: bold;
}

h2, p{
    margin-left: 150px;
    margin-right: 150px;
}

h2{
    text-align: center;
    font-style: italic;
    padding-top: 20px;
    font-size: 27px;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 32px;
}

section{
    margin-left: 150px;
    margin-right: 150px;
    font-size: 20px;
    background-color: rgb(245, 248, 227);
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: 5px #de7eb3;
    border-style: solid;
    border-left-width: 50px;
    

}

footer{
    margin-top: 20px;
    padding-top: 3px;
    padding-bottom: 5px;
    text-align: right;
    border: 1px black;
    border-top-style: solid;
    border-bottom-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #a3a3a3;
    font-style: italic;
}

footer a:link{
    color: #a3a3a3;
}
